@mixin btn {
    display: inline-block;
    text-decoration: none;
    color:$br-dark-green;
    border:1px solid $br-dark-green;
    border-radius: 5px;
    font-size: $fz-sm;
    letter-spacing: 1px;
    &:hover,
    &:active{
        background-color: $green-tint ;
    }
}
